**/.DS_Store
auto/
incoming/
publications.aux
publications.bbl
publications.bcf
publications.blg
publications.fdb_latexmk
publications.fls
publications.log
publications.out
publications.pdf
publications.run.xml
publications.xdv
